<!DOCTYPE html>
<html>
<head>

    <title><%= name[language] || name['default'] %> | <%= title[language] || title['default'] %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <link rel="stylesheet" type="text/css" href="resume.css" media="all"/>

</head>
<body>

<div class="paper">
    <header>
        <hgroup>
            <h1><%= render(name) %></h1>

            <h2><%= render(title) %></h2>
        </hgroup>
        <address style="white-space:pre"><%= render(contactInfo) %></address>
    </header>

    <main>
        <% for(var sid = 0; sid < sections.length; sid++) {
            var section = sections[sid];
        if(section.visible) { %>

        <section class="<%= section.layout %>">
            <h2><%= render(section.title) %></h2>

            <% if(section.layout == 'text') { %>
            <div class="profile">
                <p class="enlarge"><%= render(section.content) %></p>
            </div>
            <% } %>

            <% if(section.layout == 'titled3Columns') { %>
            <div>
                <% for(var i = 0; i < section.items.length; i++) { %>
                <div class="skill">
                    <h2><%= render(section.items[i].key) %></h2>

                    <p><%= render(section.items[i].value) %></p>
                </div>
                <% } %>
            </div>
            <% } %>

            <% if(section.layout == 'list3Columns') { %>
            <div>
                <% var lineCount = Math.ceil(section.items.length / 3) %>
                <% for(i = 0; i < 3; i++ ){ %>

                <ul class="technical">
                    <% for(var j = 0; j < lineCount; j++ ){ %>
                    <li><%= section.items[i * lineCount + j] ? render(section.items[i * lineCount + j]) : "" %></li>
                    <% } %>
                </ul>
                <% } %>
            </div>
            <% } %>

            <% if(section.layout == 'work') { %>
            <div>
                <% for( i = 0; i < section.items.length; i++) {
                    var experience = section.items[i]; %>
                <div class="experience">
                    <h2><%= render(experience.organization) %></h2>
                    <h4><%= render(experience.period) %></h4>
                    <% for( var i1 = 0; i1 < experience.occupations.length; i1++) {
                        var occupation = experience.occupations[i1]; %>
                    <div class="occupation">
                        <h3><%= render(occupation.title) %></h3>

                        <p>
                            <% for( j = 0; j < occupation.tasks.length; j++){ %>
                            <%= j !== 0 ? "•" : "" %>
                            <%= render(occupation.tasks[j]) %>
                            <% } %>
                        </p>
                    </div>
                    <% } %>
                </div>
                <% } %>
            </div>
            <% } %>

            <% if(section.layout == "education") { %>
            <% for(i = 0; i < section.items.length; i++ ) {
                var education = section.items[i]; %>
            <div class="education">
                <h2><%= render(education.title) %></h2>

                <h3><%= render(education.organization) %>
                    <% if(education.location){ %>
                    - <%= render(education.location) %>
                    <% } %>
                </h3>
                <h4><%= render(education.period) %></h4>
                <% if(education.content) { %>
                <p style="margin: 5px 0"><%= render(education.content) %></p>
                <% } %>

            </div>
            <% } %>
            <% } %>

            <% if(section.layout == "volunteer") { %>
            <% for( i = 0; i < section.items.length; i++ ) {
                var volunteer = section.items[i]; %>
            <div class="volunteer">
                <h2><%= render(volunteer.title) %></h2>

                <h3><%= render(volunteer.organization) %></h3>

                <p><%= render(volunteer.content) %>
                    <% if(volunteer.location || volunteer.period) { %>
                    <br><%= render(volunteer.period) %> <%= render(volunteer.location) %>
                    <% } %>
                </p>

            </div>
            <% } %>
            <% } %>

            <% if(section.layout == "list2Columns") { %>
            <div>
                <% lineCount = Math.ceil(section.items.length / 2) %>
                <% for(i = 0; i < 2; i++ ){ %>

                <ul class="certifications">
                    <% for(j = 0; j < lineCount; j++ ){ %>
                    <li><%= section.items[i * lineCount + j] ? render(section.items[i * lineCount + j]) : "" %></li>
                    <% } %>
                </ul>
                <% } %>
            </div>
            <% } %>
        </section>
        <% } %>
        <% } %>
    </main>
</div>
</body>
</html>

