<!DOCTYPE html>
<html>
<head>

    <title><%= name %> | <%= title %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <link rel="stylesheet" type="text/css" href="resume.css" media="all"/>

</head>
<body>

<div class="paper">
    <header>
        <hgroup>
            <h1><%= name %></h1>

            <h2><%= title %></h2>
        </hgroup>
        <address style="white-space:pre"><%= contactInfo %></address>
    </header>

    <main>
        <% for(var sid = 0; sid < sections.length; sid++) {
            var section = sections[sid];
        if(section.visible) { %>

        <% if(section.layout == 'text') { %>
        <section>
            <h2><%= section.title %></h2>

            <div class="profile">
                <p class="enlarge"><%= section.content %></p>
            </div>
        </section>
        <% } %>

        <% if(section.layout == 'titled3Columns') { %>
        <section>
            <h2><%= section.title %></h2>

            <div>
                <% for(var i = 0; i < section.items.length; i++) { %>
                <div class="skill">
                    <h2><%= section.items[i].key %></h2>

                    <p><%= section.items[i].value %></p>
                </div>
                <% } %>
            </div>
        </section>
        <% } %>

        <% if(section.layout == 'list3Columns') { %>
        <section>
            <h2><%= section.title %></h2>

            <div>
                <% var lineCount = Math.ceil(section.items.length / 3) %>
                <% for(i = 0; i < 3; i++ ){ %>

                <ul class="technical">
                    <% for(var j = 0; j < lineCount; j++ ){ %>
                    <li><%= section.items[i * lineCount + j] ? section.items[i * lineCount + j].content : "" %></li>
                    <% } %>
                </ul>
                <% } %>
            </div>
        </section>
        <% } %>

        <% if(section.layout == 'work') { %>
        <section>

            <h2><%= section.title %></h2>

            <div>
                <% for( i = 0; i < section.items.length; i++) {
                    var experience = section.items[i]; %>
                <div class="experience">
                    <h2><%= experience.organization %></h2>
                    <h4><%= experience.period %></h4>
                    <% for( var i1 = 0; i1 < experience.occupations.length; i1++) {
                        var occupation = experience.occupations[i1]; %>
                    <div class="occupation">
                        <h3><%= occupation.title %></h3>

                        <p>
                            <% for( j = 0; j < occupation.tasks.length; j++){ %>
                            <%= j !== 0 ? "•" : "" %>
                            <%= occupation.tasks[j].content %>
                            <% } %>
                        </p>
                    </div>
                    <% } %>
                </div>
                <% } %>
            </div>
        </section>
        <% } %>

        <% if(section.layout == "education") { %>
        <section class="educations">
            <h2><%= section.title %></h2>
            <% for(i = 0; i < section.items.length; i++ ) {
                var education = section.items[i]; %>
            <div class="education">
                <h2><%= education.title %></h2>

                <h3><%= education.organization %>
                <% if(education.location){%> - <%=education.location %><% } %>
                </h3>
                <h4><%= education.period %></h4>
                <% if(education.content) { %>
                <p style="margin-top: -8px; margin-bottom: 10px"><%= education.content %></p>
                <% } %>

            </div>
            <% } %>
        </section>
        <% } %>

        <% if(section.layout == "volunteer") { %>
        <section>
            <h2><%= section.title %></h2>
            <% for( i = 0; i < section.items.length; i++ ) {
                var volunteer = section.items[i]; %>
            <div class="volunteer">
                <h2><%= volunteer.title %></h2>

                <h3><%= volunteer.organization %></h3>

                <p><%= volunteer.content %>
                    <% if(volunteer.location || volunteer.period) { %>
                    <br><%= volunteer.period %> <%= volunteer.location %>
                    <% } %>
                </p>

            </div>
            <% } %>
        </section>
        <% } %>

        <% if(section.layout == "list2Columns") { %>
        <section>
            <h2><%= section.title %></h2>

            <div>
                <% lineCount = Math.ceil(section.items.length / 2) %>
                <% for(i = 0; i < 2; i++ ){ %>

                <ul class="certifications">
                    <% for(j = 0; j < lineCount; j++ ){ %>
                    <li><%= section.items[i * lineCount + j] ? section.items[i * lineCount + j].content : "" %></li>
                    <% } %>
                </ul>
                <% } %>
            </div>
        </section>
        <% } %>

        <% } %>
        <% } %>
    </main>
</div>
</body>
</html>

