<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

    <title><%= name %> | <%= title %> | <%= email %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <link rel="stylesheet" type="text/css" href="resume.css" media="all"/>

</head>
<body>

<div class="paper">
    <header>
        <hgroup>
            <h1><%= name %></h1>

            <h2><%= title %></h2>
        </hgroup>
        <address>
            <%= phone %><br>
            <%= email %><br>
            <%= site %><br>
            <%= linkedin %><br>
        </address>
    </header>

    <main>
        <% if(profile.visible) { %>
        <section>
            <h2><%= profile.title %></h2>

            <div class="profile">
                <p class="enlarge"><%= profile.content %></p>
            </div>
        </section>
        <% } %>

        <% if(skills.visible) { %>
        <section>
            <h2><%= skills.title %></h2>

            <div>
                <% for(var i = 0; i < skills.items.length; i++) { %>
                <div class="skill">
                    <h2><%= skills.items[i].title %></h2>

                    <p><%= skills.items[i].content %></p>
                </div>
                <% } %>
            </div>
        </section>
        <% } %>

        <% if(technical.visible) { %>
        <section>
            <h2><%= technical.title %></h2>

            <div>
                <% var lineCount = Math.ceil(technical.items.length / 3) %>
                <% for(var i = 0; i < 3; i++ ){ %>

                <ul class="technical">
                    <% for(var j = 0; j < lineCount; j++ ){ %>
                    <li><%= technical.items[i * lineCount + j] ? technical.items[i * lineCount + j] : "" %></li>
                    <% } %>
                </ul>
                <% } %>
            </div>
        </section>
        <% } %>

        <% if(experiences.visible) { %>
        <section>

            <h2><%= experiences.title %></h2>

            <div>
                <% for(var i = 0; i < experiences.items.length; i++) {
                    var experience = experiences.items[i]; %>
                <div class="experience">
                    <h2><%= experience.name %></h2>
                    <h4><%= experience.period %></h4>
                    <% for(var i1 = 0; i1 < experience.occupations.length; i1++) {
                        var occupation = experience.occupations[i1]; %>
                    <div class="occupation">
                        <h3><%= occupation.title %></h3>

                        <p>
                            <% for(var j = 0; j < occupation.tasks.length; j++){ %>
                            <%= j !== 0 ? "•" : "" %>
                            <%= occupation.tasks[j] %>
                            <% } %>
                        </p>
                    </div>
                    <% } %>
                </div>
                <% } %>
            </div>
        </section>
        <% } %>

        <% if(educations.visible) { %>
        <section class="educations">
            <h2><%= educations.title %></h2>
            <% for(var i = 0; i < educations.items.length; i++ ) {
                var education = educations.items[i]; %>
            <div class="education">
                <h2><%= education.title %></h2>

                <h3><%= education.school %></h3>
            </div>
            <% } %>
        </section>
        <% } %>

        <% if(volunteers.visible) { %>
        <section>
            <h2><%= volunteers.title %></h2>
            <% for(var i = 0; i < volunteers.items.length; i++ ) {
                var volunteer = volunteers.items[i]; %>
            <div>
                <h2><%= volunteer.title %></h2>

                <h3><%= volunteer.organization %></h3>

                <p><%= volunteer.content %></p>
            </div>
            <% } %>
        </section>
        <% } %>
    </main>
</div>
</body>
</html>

